<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <FeatureGroup Id="fg_All">
      <Feature Id="ProductAll"
               Title="!(wix.ProductName)"
               Description="!(wix.ProductName)"
               Level="1"
               ConfigurableDirectory="INSTALLLOCATION">
        <Feature Id="Plugin"
                Title="$(var.ProjectName)"
                Description="MySQL plugin library for mongosql_auth protocol (mongosql_auth.dll)"
                Level="1">
          <ComponentRef Id="c_mongosql_auth" />
        </Feature>
        <Feature Id="Config"
                Title="MySQL Configuration"
                Description="MySQL configuration file to make mongosql_auth the default MySQL auth plugin"
                Level="1">
          <ComponentRef Id="c_mysql_config" />
        </Feature>
        <ComponentGroupRef Id="cg_License" />
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>
